/* all text fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@400;500;600;700&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif; */


/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;  
}
.container{
    width: 1200px;
    margin: 0 auto;
    background-color: antiquewhite;
}

/* header-section css */
.header-section{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin-top: 50px;
}
.title-part h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #3A3A3A;
}
.menu-part{
    display: flex;
    align-items: center;
}
.nav ul{
    display: flex;
    align-items: center;
}
.nav ul li{
    list-style: none;
    margin-right: 34px;
}
.nav ul li a{
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #3A3A3A;
}
.icon-part{
    display: flex;
    align-items: center;
}
.icon-part .fa-search{
    width: 24px;
    height: 24px;
    margin-top: 9px;
    margin-right: 24px;
}
.icon-part .fa-shopping-cart{
    width: 36px;
    height: 36px;
    margin-top: 19px;
}

/* banner-section css */
.banner-section{
    display: grid;
    grid-template-columns: 582px 475px;
    column-gap: 133px;
    align-items: center; 
    padding: 70px 0;
}
.banner-left h2{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    color: #3A3A3A;
}
.banner-left p{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #3A3A3A;
    margin-top: 16px;   
}
.banner-left a{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    display: inline-block;
    border-radius: 41px;
    margin-top: 20px;
}
.banner-left .fa-arrow-right{
    margin-left: 8px;
}
.banner-right{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    height: 475px;
}

/* popular-section */
.popular-item{
    display: grid;
    grid-template-columns: repeat(3, 330px);
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}
.popular-title h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    color: #3A3A3A;
    text-align: center;  
}
.single-item{
    padding: 17px 14px;
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.55);
}
.item-details h3{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: #18191F;
    margin-top: 16px;
}
.item-details .price{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #000000; 
    margin-top: 6px; 
}
.rating-box{
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
}
.rating-icon .fas{
    width: 16px;
    height: 16px;
    color: #FB8200;
}
.rating-box p{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #5E6366;
    margin-left: 15px;
}
.item-details .description{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #787885;
}